<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-11-29T23:59:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jwie/skillz/2048/m2048.xcodeproj</string>
</dict>
</plist>
